@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Life+Savers:wght@400;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(-225deg, #3e336d 0%, #3584A7 51%, #30D2BE 100%);
    color: rgb(50, 50, 50)
}

button {
    margin: 10px;
    padding: 0.3rem 0.5rem;
}

a {
    text-decoration: none;
}

.main-body {
    text-align: center;
}

.main-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 8rem;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.5px;
    font-weight: 300;
    color: #fff;
}

.main-title span {
    color: rgb(2, 255, 204);
    font-weight: 600;
}

.date {
    text-align: center;
    font-weight: 300;
    background-color: #e7fe16;
    padding: 10px;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    margin: 1.6rem 0.5rem 0 0.5rem;
}

.book-list {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: start; */
    padding: 3rem;
    gap: 2rem;
}



@media all and (max-width:767px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
        /* align-items: start; */
        padding: 3rem;
    }

    .main-title {
        font-size: 2.3rem;
        width: 180px;
        margin: auto;
        margin-top: 100px;
    }

    .date {
        font-size: 0.75rem;
        padding: 7px;
        border-radius: 0.5rem;
    }

    .book-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem;
        margin-top: 50px;
    }

    .bottom-title {
        font-size: 0.7rem;
    }

    .bottom-dy {
        font-size: 0.8rem;
    }
}


.book {
    background-color: #fff;
    object-fit: cover;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.book h4 {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #668dd5;
    padding: 0.3rem;
    font-weight: 400;
}

.book p {
    margin: 1rem 0 0.5rem;
}

.number {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #333333;
    color: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1rem;
}

.bottom {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.bottom-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}

.bottom-title span {
    font-weight: 600;
}

.bottom-dy {
    font-weight: 600;
    text-decoration: none;
    margin: 1rem 0 8rem 0;
    padding: 0.6rem 0.5rem;
    background-color: #333333;
    width: 150px;
    border: 3px solid rgb(17, 229, 225)
}

.bottom-dy a {
    color: rgb(255, 255, 255);
}